<div class="page">
  <div class="container">

    <div class="page-content container-fluid">
      <div class="welcome-wrapper text-center">

        <img src="../../../../assets/images/hope2go.png" style="height: 300px;"/>
        <h1>Welcome to Hope-To-Go!</h1>
        <p>A Birmingham-Based advertising initiative to help nonprofits</p>

        <h1 class="page-title">Ready to Get Started?</h1>
        <br/>
        <div>
          <button class="btn btn-primary">Create an Ad</button>
          <button class="btn btn-primary">Place an Order</button>
          <button class="btn btn-primary">Browse Locations</button>
        </div>

      </div>
    </div>

  </div>
</div>
